<h1>All my cocktails</h1>

<%= cl_image_tag("cocktails-blender-1240x503_ttwyzf",
      width: 1000, height: 300, crop: :fill) %>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @cocktails.each do |cocktail| %>
      <tr>
        <td><%= cocktail.name %></td>
        <td><%= link_to 'Show', cocktail %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Cocktail', new_cocktail_path %>
