<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<div>
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 400, width: 300, crop: :fill %>
  <% else %>
    <%= cl_image_tag "cocktail_default_pic",  height: 400, width: 300, crop: :fill %>
  <% end %>
</div>

<%= link_to 'Back', cocktails_path %>
